.page_div{float: left; width: 100%;  }


body,
html {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  position: relative;
}

body {
  background: #fff;

}


ul {
  display: table-cell;
  vertical-align: middle;

}

.list-inline {
  padding-left: 0;
  list-style: none;
  float: left;
  width: 100%;
}
.list-inline > li {
  display: inline-block;
  margin-left: 2em;
   margin-top: 50px;
      border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 12%;
  height: 220px;
}


.book {
  cursor: pointer;
  display: block;

  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: box-shadow .3s linear;
  transition: box-shadow .3s linear;
}

.book img {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book:hover img {
  -webkit-transform: rotateY(-25deg);
          transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book::after,
.book::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}

.book::before {
  left: -3px;
}

.book::after {
  left: -6px;
}


.download_{
margin-top: 30px;
font-size: 12px;
padding: 7px 10px;
background-color: #039557 !important;
box-shadow: none !important;
color: #fff;
border:none !important;}

.download_:focus{outline: none;}

.navmenu{border-radius: 0px !important;
background-color: #0096ff !important;}



.navmenu ul li a{color: #fff !important;}

.navmenu ul li.active a{background-color: #666 !important;}

.navmenu ul li:hover{background-color: #666 !important;}


.navmenu a{color: #fff !important;}



footer{float: left; width: 100%; position: absolute;  bottom:0; background-color: #000; 
  padding: 10px; color: #fff;}

footer a{color: #fff !important;}

@media(max-width: 680px){
	.navbar-toggle{border: 0px;}
	.navmenu ul {
		float: left;
		width: 100% !important;
		padding: 0;
		margin:0;
		text-align: left;}

	.navmenu ul li a{
		width: 100% !important;}

	#myNavbar{padding: 0px;}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{border: 0px; background-color: transparent !important;}
	.icon-bar{background-color: #fff !important;}
	.list-inline > li{float: left; width: 85%; text-align: center;}
	.list-inline > li{margin-top: 30px; float: left; height: auto;}

  footer{/*position: relative;*/}

}

.b-color
{
  border: 1px solid #ddd;
      padding: 0% 2% 2% 2%;
          margin-bottom: 6%;
}
.m-b-3perc
{
      margin-bottom: 3%;
}
.book1-padding
{
  border: 1px solid #ddd;
    padding: 0% 1% 1% 1%;
    margin-bottom: 6%;

}
.book1-img{
    width: 400px;
    height: 400px !important;
  }
.p-0x
{
      padding: 0px;
}